@font-face {
    font-family: Flubber;
    src: url(../fonts/FLUBBER.TTF);
}
.logo-background {
  /* background-image: url("../img/madeira1.jpg"); */
}
.logo-text {
  font-family: Flubber;
  font-size: 26px;
  text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
  color: white;
  padding: 5px;
  padding-top: 7px;
}

body {
  background-image: url("../img/background.png");
}
#container {
  padding: 10px 50px 25px 75px;
}
#header {
  padding-bottom: 25px;
  padding-left: 20px;
  padding-top: 10px;
}

#header .logo {
  height: 75px;
  vertical-align: middle;
}
#header .menu-superior {
  padding-top: 20px;
}

#content {
  padding: 10px;
}

#footer {
  padding-top: 50px;
  text-align: center;
  font-style: italic;
}

#map-canvas {
  margin-top: 15px;
  height: 350px;
  width: 400px;
}

.form-contact {
  background-color: #F8F8F8;

}

.form-contact h3 {
  color: #77871C;
}

.warning-contact {
  color: #77871C;
  font-weight: bold;
}

.link-footer a {
  line-height: 16px;
  color: #77871C !important;
  text-decoration: none;
}
.link-footer a:hover {
  color: #77871C;
  text-decoration: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
}

.fotorama__caption {
  text-align: center;
  margin-top: 45px;
}